@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

html {
 height: 100%;
}

.theme-light {
    --color-background: white;
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
  }

.theme-dark {
    --color-background: black;
    --color-primary: #17ed90;
    --color-secondary: #2a2c2d;
    --color-accent: #12cdea;
    --font-color: #ffffff;
}

body {
    height: 100%;
    background-color: var(--color-background);
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    color: var(--font-color);
  }
  
h1 {
    font-size: 15px;
}

p {
    text-align: justify;
}

.box {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.box img {
    display: flex;
    max-width: 100%;
}

.small_box {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 10px;
}

.home_box {
    min-height: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.contact_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.column_box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.article_container {
    width: 500px;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    margin: 0px auto;
    flex-wrap: wrap;
    border: 1px solid black;
}

.article_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    border: 1px solid red;
}

.article_image img {
    max-width: 200px;
}

.article_text {
    font-size: 12px;
}

.primary_nav {
    display: flex;
    flex-direction: row;
}

.secondary_nav {
    display: flex;
    flex-direction: row;
}

