.about_me_container {
  width: 80%;
  margin: 0 auto;
}

.why_fc_nav {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.overlap {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: 100px;
  transition: 0.2s;
  align-items: center;
}

.overlap:hover {
    animation-name: nav_bar_move;
    animation-duration: 0.5s;
  }

  @keyframes nav_bar_move {
    0% {
     margin-left: 0px;
    }
    70% {
      margin-left: -100px;
    }
    100% {
      margin-left: 0px;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
  }

  .fact_text {
    width: 250px;
    object-fit: scale-down;
    margin-top: -200px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
  }

  .photo_text {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
  }

  .photo_text img {
      height: 400px;
  }

.list_of_photo_text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}

.photo_text img {
  border-radius: 50%;
  height: 350px;
}
