.why_fc_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.overlap {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 220px;
}


.overlap:hover {
    animation-name: nav_bar_move;
    animation-duration: 0.5s;
  }

  @keyframes nav_bar_move {
    0% {
     margin-left: 0px;
    }
    70% {
      margin-left: -100px;
    }
    100% {
      margin-left: 0px;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
  }

  .fac_text {
      margin-left: -200px;
  }
